#include <windows.h>


ICON_1 ICON "app.ico"


VS_VERSION_INFO VERSIONINFO
FILEVERSION    	1, 0, 0, 0
PRODUCTVERSION 	1, 0, 0, 0
FILEFLAGSMASK  	VS_FFI_FILEFLAGSMASK
FILEOS         	VOS__WINDOWS32
FILETYPE       	VFT_APP
FILESUBTYPE    	VFT2_UNKNOWN
BEGIN
BLOCK "StringFileInfo"
BEGIN
BLOCK "040904E4"
BEGIN
VALUE "CompanyName", "TURBO-PLAY.COM"
VALUE "FileDescription", "Turbo Play NN"
VALUE "FileVersion", "1.0.0.0"
VALUE "InternalName", "Turbo Play NN"
VALUE "LegalCopyright", "Chourdakis Michael"
VALUE "OriginalFilename", "NN.EXE"
VALUE "ProductName", ""
VALUE "ProductVersion", "1"
END
END

BLOCK "VarFileInfo"
BEGIN
/* The following line should only be modified for localized versions.     */
/* It consists of any number of WORD,WORD pairs, with each pair           */
/* describing a language,codepage combination supported by the file.      */
/*                                                                        */
/* For example, a file might have values "0x409,1252" indicating that it  */
/* supports English language (0x409) in the Windows ANSI codepage (1252). */
VALUE "Translation", 0x409, 1252
END
END
